@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700,700i,900,900i');
body{font-family: 'Roboto', sans-serif;font-size: 14px;line-height: 28px;}

.slide-bg-1{
    background-image: url(../image/slider-1.jpg);
}


.logo {
	height: 45px;
	width: 100px;
	padding: 30px 0px;
}

.mainmenu ul{
	margin: 0;
	padding: 0;
	list-style: none;
    text-align: right;
}

.mainmenu li {
	position: relative;
	display: inline-block;
}

.mainmenu li a{
	color: #fff;
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	padding: 30px 12px;
}

.mainmenu li a:hover {
	color: #c6a15b;
	text-decoration: none;
	transition: ease all 0.3s;
}
.navigation li ul li{
    display: block;
}
.navigation li ul {
    position:  absolute;
    top: 110px;
    width:  150px;
    background:  #fff;
    text-align:  left;
    padding: 0 10px;
    opacity:  0;
    visibility:  hidden;
    z-index:  999;
    transition: .4s;
    border-radius: 5px;
}
.navigation li ul li a {
    font-size: 13px;
    padding: 5px 0;
    border-bottom:  1px solid #ddd;
    text-align:  left;
    margin:  0;
    color: #000;
}
.navigation li ul li a:hover{
    color: #c6a15b;
    text-decoration: none;
    transition: .3s;
}
.navigation li:hover ul{
    opacity: 1;
    visibility: visible;
    z-index: 99;
    top: 88px;
}
.single-slide-item {
	background-size: cover;
	background-color: #ddd;
	height: 880px;
}
.creative-area {
	padding: 270px 0px;
	position: absolute;
}
.creative-area span {
	padding: 0px 10px;
}
.creative-area h5 {
    letter-spacing: 10px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.single-slide-item h1{
	color: #fff;
	text-transform: uppercase;
	font-size: 65px;
}
.single-slide-item p {
	color: #fff;
	text-transform: uppercase;
}
.slide-item-table {
	display: table;
	width: 100%;
	height: 100%;
}
.about-area {
	padding: 100px 0;
	box-shadow: 0 10px 30px #d8d8d8;
}
.about-detail h2 {
	color: #231f20;
	font-size: 26px;
	padding: 10px 20px 15px 0;
}
.about-detail p {
      color: #231f20;
      line-height: 26px;
      color: #b7b7b7;
      font-size: 16px;
    padding-bottom: 30px;
}
.about-detail h6{
      color: #c6a15b;
      text-transform: uppercase;
      font-size: 12px;
}
.creative-btn {
	color: #fff;
	background: #c6a15b;
	border-radius: 20px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
    padding: 10px 30px;
}
.creative-btn:hover{
    color: #fff;
    background: #997634;
    transition: ease .3s;
}
.content-area {
	padding: 40px;
	box-shadow: 0px 2px 15px #d8d8d8;
	margin-bottom: 25px;
}
.content-area h4 {
	color: #231f20;
	position: relative;
}
.content-area p {
	color: #cccccc;
	line-height: 20px;
}
.content-area a{
    color: #c6a15b;
    text-decoration: none;
}
.content-area a i.fa{
    padding-left: 10px;
}
.content-area:hover {
    transition: .2s;
    border-bottom: 3px solid #c6a15b;
}
.work-section{
    position: relative;
    box-shadow: 0px 2px 15px #d8d8d8;
    padding: 100px 0;
}
.work-section p {
	color: #c6a15b;
	text-transform: uppercase;
    text-align: center;
	font-size: 12px;
}
.work-section h1 {
	color: #231f20;
	text-align: center;
	font-weight: 700;
	padding: 0 0 30px;
}

.section-gallery a {
	text-decoration: none;
}

.gallery-box h5 {
	position: relative;
    color: #313131;
	background: #f9f9f9;
	padding: 15px 30px;
	top: 0px;
	visibility: hidden;
	z-index: -1;
	opacity: 0;
	font-size: 14px;
	font-weight: 700;
}
.gallery-box span {
	font-size: 12px;
	font-weight: 700;
	color: #969696;
}
.gallery-box:hover h5{
    visibility: visible;
    z-index: 9;
    opacity: 1;
    top: -70px;
    transition: .4s;
}


.testimonial-slider {
	background: #f3f3f3;
	font-size: 22px;
	padding: 150px 0;
    box-shadow: 0 2px 15px #d8d8d8;
}
.testimonial-slider span {
	font-size: 60px;
	position: absolute;
	padding: 10px 5px;
}
.testimonial-slider p {
	margin: 0 25px;
}
.testimonial-slider h6 {
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	color: #333;
}
.team-area {
	width: 100%;
	padding: 60px 0;
	text-align: center;
    box-shadow: 0 2px 15px #d8d8d8;
}
.team-area h5{
	color: #c6a15b;
	text-transform: uppercase;
    font-weight: 700;
}
.team-area h1 {
	font-size: 45px;
	margin: 0;
	padding-bottom: 45px;
	color: #231f20;
}
.team-member{
    text-align: left;
}
.team-member h4 {
	color: #000;
	font-size: 25px;
	text-transform: uppercase;
}
.team-member img {
	width: 90%;
}
.team-member h6 {
	text-transform: uppercase;
	color: #898989;
	margin: 0;
}
.team-member i.fa {
	color: #c6a15b;
	padding: 0 7px 0 0;
    margin-top: 15px;
}
.end {
	padding-top: 100px;
}
.testimonial-slider.section-gray.contact-area {
	text-align: center;
}
.contact-area h5{
    color: #c6a15b;
	text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}
.contact-area h1 {
	font-size: 60px;
	padding: 15px 0;
    margin: 0;
}
.footer-section {
    background:  #131313;
}

.footer-area {
    padding: 120px 0;
    text-align:  center;
}
.footer-logo{
    margin-left: 11px;
}
.footer-area ul {
    list-style: none;
}

.footer-area li {
    display:  inline-block;
    padding: 12px 20px;
    background:  #000000;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.footer-area li a {
    color: #fff;
}
.footer-items {
    padding: 25px 0;
}
.footer-items li{
    margin-left: 15px;
}
.footer-area h6 {
    color:  #565656;
    text-transform:  uppercase;
    word-spacing:  4px;
    text-align:  center;
    margin:  0;
}